################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MesLectures/MesLectures.Windows/bin/Debug
/MesLectures/MesLectures.Windows/obj/Debug
/MesLectures/MesLectures.WindowsPhone/bin/Debug
/MesLectures/MesLectures.WindowsPhone/obj/Debug
*.user
/MesLectures.v12.suo
