################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MesLectures/bin
/MesLectures/obj
*.user
/MesLectures.v12.suo
.vs/MesLectures/v14/.suo